
*{
    box-sizing: border-box;
  }

  body {
    background-color: gray;
  }

  /* Style the search field */
  form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background: #f1f1f1;
  }
  /* Style the submit button */
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #B29A59;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  form.search button:hover {
    background: #0b7dda;
  }
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  .nav-pills > li > a {
     border-radius: 0;
  }
  #wrapper {
     padding-left: 0;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     overflow: hidden;
  }
  #wrapper.toggled {
     padding-left: 250px;
     overflow: hidden;
  }
 
  #sidebar-container {
      min-height: 100vh;
      background-color: #333;
      padding-top: 70px; 
      
  }
  /* Sidebar sizes when expanded and expanded */
  .sidebar-expanded {
      width: 230px;
  }
  .sidebar-collapsed {
      width: 60px;
  }
  /* Menu item*/
  #sidebar-container .list-group a {
      height: 50px;
      color: white;
  }
 
  /* Submenu item*/
  #sidebar-container .list-group .sidebar-submenu a {
      height: 45px;
      padding-left: 30px;
  }
  .sidebar-submenu {
      font-size: 0.9rem;
  }
  /* Closed submenu icon */
  #sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
    height: 40px;
    width: 40px;
  }
  /* Opened submenu icon */
  #sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
  }
  /* Separators */
  .sidebar-separator-title {
      background-color: #333;
      height: 35px;
  }
  .sidebar-separator {
      background-color: #333;
      height: 25px;
  }
  .logo-separator {
      background-color: #333;
      height: 60px;
  }

  /* All main page content away from the navbars goes in a div with this class */
  .mainPageCollapsed{
    margin-left:5vw;
    width:90%;
  }
  .mainPageExpanded{
    margin-left:16vw;
    width:80%;
  }

  .indexPageCollapsed{
    margin-left:5vw;
    width:100%;
  }
  .indexPageExpanded{
    margin-left:18vw;
    width:80%;
  }


@media screen {
    .dataElement{
        border:1px solid #D9D9D9;
        border-radius:10px;
        height:275px;
        padding:25px;
        background-color:#EDEAEA;
      }
}


  


